/***** Basic CSS Styles **********/
.home {
  color: darkblue;
  position: absolute;
}

.header-container {
  display: flex;
  position: relative;
  background-image: url(../Images/profile_pic.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-style: italic;
  height: 50%;
  width: 50%;
}

.title {
  display: flex;
  justify-content: center;
  color: white;
  background-color: darkgreen;
  border-color: black;
}

p {
  flex-wrap: wrap;
  max-width: 80%;
}

address {
  display: flex;
  flex-direction: column;
  font-style: italic;
}

.footer_content{
  display: flex;
  justify-content: space-around;
}

.footer_content .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}

.form {
  flex-wrap: wrap;
  flex-direction: column;
}

.copyright {
  align-self: flex;
  flex: 1;
}

/**** Media Queries ********/
/* adding media queries to adjust size & orientation of view for both mobile & desktop views */
@media only screen and (min-width: 480px),
  only screen and (min-width: 700px) and (orientation: landscape) {
}

@media (max-width: 750px) {}.banner .header-container .clear-fix {
  min-height: 450px;
}

/******** Clearfix ************/

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}
